
@{
    ViewBag.Title = "OrderHistory";
}

<h2>Order Status::</h2>
<div class="container">
    <img src="~/Images/782-check-mark-success.gif" style="width:500px" />

    <h4>Order Recived.</h4>
   <h3>continue Shoping... <a href="/Menus/Index" class="btn btn-info">Back TO Menu</a></h3>
</div>

