@{
    ViewBag.Title = "Cart";
}
<head>
    <style>
        body {
            background-image: url('../../Images/uc.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
    </head>
    <body>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Under Constructrion.</p>

        </body>