@{
    ViewBag.Title = "Home Page";
}

<head>
    
    <style>
        body
        {
            background-color:bisque;
        }
        .jumbotron {
            background-color: #FF5404
        }

        h1 {
            text-align: center;
        }
        h2{
            text-align:center;
        }
        p {
            text-align: center;
        }

        div {
            text-align: center;
        }
    </style>
</head>
<br/>
<div class="jumbotron">
    <h1>Order Now!!</h1>
    <h2 >
        Dishes that You Crave,
        Offers that you'll Love!
    </h2>
    <p>Grab the offers by registering</p>
    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Register &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Images/1382457175230.jpeg" width="360" height="300" />
        <h2>Indian Yogurt Dip</h2>
        <p>
            My version of this classic spinach dip is every bit as creamy and delicious as the original,
            but you won’t find any cream cheese here. Instead, it gets its luscious texture from blended cauliflower and Greek yogurt!
        </p>
        <p><a class="btn btn-default" href="/menus/index">More Appitizers &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Images/images.jpg" width="360" height="300"/>
        <h2>Hyderabadi Biryani</h2>
        <p>Hyderabadi biryani is generally believed to have originated in the kitchens of the Nizam of Hyderabad, 
        of the historic Hyderabad State, as a blend of Mughlai and Iranian cuisine. Hyderabadi biryani is a staple of Indian cuisine.</p>
        <p><a class="btn btn-default" href="/menus/index">More MainCourses &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Images/appricot.jpg" width="360" height="300" />
        <h2>Apricot Delight </h2>
        <p>A very delicious dessert. Apricot already gives such nice flavours, added with custard and whipped cream, layer by layer.</p>
        <p><a class="btn btn-default" href="/menus/index">More Desserts &raquo;</a></p>
    </div>
</div>